@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: none;
}

::selection{
    background: #C7C7C7;
}

a.linked:link, a.linked:visited{
    color: inherit;
    text-decoration: none;
}

a.linked{
    position: relative;
    border-bottom: 1px solid #aaa;
}

a.linked:hover{
    border-bottom: none;
}

a.linked::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #aaaaaa66;
    transition: height 0.2s ease;
}

a.linked:hover::after{
    height: 98%;
}

a.mainLinks{
    cursor: pointer;
}

.myCursor{
    width: 30px;
    height: 30px;
    position: fixed;
    transition: 0.000001s;
    background-color: white;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
    display: grid;
    place-items: center;
}

.myCursor.hover{
    transition: 0.2s;
    transform: scale(3);
}

.myCursor.pictureHover{
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: unset;
    background-color: black;
    color: white;
    font-size: 5px;
    font-weight: 600;
}








/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    mix-blend-mode: difference;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.cregitalLogoWrap{
    width: 40px;
    height: 40px;
    mix-blend-mode: difference;
    z-index: 99;
    cursor: pointer;
}

.menuItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    mix-blend-mode: difference;
    z-index: 99;
    cursor: pointer;
}

.menu{
    cursor: pointer;
}

.hamburger{
    width: 25px;
    height: 15px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}

.strokei{
    position: absolute;
    top: 0;
    width: 25px;
    height: 3px;
    background-color: white;
}

.strokei.rotright{
    transform: rotate(45deg);
    transform-origin: 50%;
}

.strokeii{
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 3px;
    background-color: white;
}

.strokeii.rotleft{
    transform: rotate(-45deg);
    transform-origin: 50%;
}








/* SECTION 1 */
.section1{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1 h1{
    font-size: 100px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    width: 60%;
    margin: 40px 0;
}

.section1 p{
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5em;
    width: 50%;
}

.openForm{
    background: url('penIcon.svg') no-repeat center/100%;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    animation: fade 2s ease-out infinite;
    mix-blend-mode: difference;
    cursor: pointer;
}

.openForm.opened{
    background: url('closeIcon.svg') no-repeat center/30%;
    background-color: white;
    animation: nofade;
}

@keyframes fade{
    50%{
        box-shadow: 0 0 0 0px white;
    }
    100%{
        box-shadow: 0 0 0 25px black;
    }
}








/* LEARN MORE MODAL */
.learnMore{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: black;
    display: none;
    place-items: center;
    color: white;
    text-align: center;
    z-index: 50;
}

.learnMore h1{
    width: 70%;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.3em;
    transform: translateY(70%);
    opacity: 0.5;
    transition: 1s cubic-bezier(0,.6,.76,1.19);
}

.learnMore h1.moveUp{
    transform: translateY(0);
    opacity: 1;
}








/* DROP A LINE MODAL */
.dropALine{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    color: white;
    padding: 10px 5%;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: 50;
}


.dropALine h1{
    font-size: 75px;
    font-weight: 600;
    margin-bottom: 40px;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    transform: translateY(50px);
}


.dropALine h1.moves{
    opacity: 1;
    transform: translateY(0);
}

.dropALine p{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px;
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
}

.dropALine p.moves{
    opacity: 1;
    transform: translateY(0);
}

.cregitalLogoWrapDAL{
    position: absolute;
    top: 30px;
    left: 5%;
    width: 40px;
    height: 40px;
}

.sendMessageWrap{
    width: 55%;
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
    transform: translateY(250px);
    opacity: 0;
}


.sendMessageWrap.moves{
    opacity: 1;
    transform: translateY(0);
}

.sendMessageWrap input:not(#smButton){
    width: 100%;
    padding: 20px 7px;
    margin-bottom: 15px;
    border: thin solid white;
    border-width: 0 0 1px 0;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    background-color: transparent;
    color: white;
    cursor: text;
}

.sendMessageWrap textarea{
    padding: 20px 7px;
    margin-bottom: 30px;
    border: thin solid white;
    border-width: 0 0 1px 0;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    background-color: transparent;
    color: white;
    cursor: text;
}

#smButton{
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

#smButton:hover{
    background-color: #b5b5b5;
}







/* section 2 */
.section2{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.5;
    padding: 20px 1%;
}

.picLinkWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.picLinks{
    width: 72%;
    position: relative;
}

.material-icons{
    color: white;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
    
.sImg1, .sImg2, .sImg3{
    width: 100%;
    height: 400px;
    cursor: pointer;
}


.sImg1{
    background: url('coronation.jpg') no-repeat center;
    background-size:  auto 100%;
}
.sImg2{
    background: url('heirs.jpg') no-repeat center;
    background-size:  auto 100%;
}
.sImg3{
    background: url('ARK.svg') no-repeat center;
    background-size:  auto 100%;
}


.lImg1, .lImg2, .lImg3, .lImg4, .lImg5{
    width: 100%;
    height: 600px;
    cursor: pointer;
}


.lImg1{
    background: url('Fbank.jpg') no-repeat center ;
    background-size:  auto 100%;
}
.lImg2{
    background: url('disha.jpg') no-repeat center/100% ;
}
.lImg3{
    background: url('hash.png') no-repeat center/100% ;
}
.lImg4{
    background: url('TEF.jpg') no-repeat center;
    background-size:  auto 100%;
}
.lImg5{
    background: url('zenith.jpg') no-repeat center;
    background-size:  auto 100%;
}

.linkInfo{
    padding: 8% 0;
}

.linkInfo h1{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.linkInfo p{
    font-size: 15px;
    font-weight: 300;
}






/* SECTION 3 */
.section3{
    min-height: 100vh;
    padding: 20px 8% 80px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section3 h1{
    font-size: 75px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 25px;
}


.section3 p{
    width: 70%;
    font-size: 25px;
    font-weight: 300;
    line-height: 42.5px;
    text-align: left;
    margin-bottom: 50px;
    align-self: flex-end;
}

.aboutImg{
    width: 100%;
}






/* FOOTER */
footer{
    padding: 5% 8% 3% 8%;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
}

footer h1{
    font-size: 75px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 45px;
}

footer > p{
    width: 70%;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.7em;
    text-align: left;
    margin-bottom: 0.7rem;
    align-self: flex-end;
}

.endNote{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 9%;
}

.colouredP{
    color: #4d4d3c;
}

.rightContent a{
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    display: inline-block;
}






@media screen and (min-width: 768px) and (max-width: 992px){
    
    .myCursor{
        display: none;
        visibility: hidden;
    }
    
    
    /* HEADER */
        
    nav{
        padding: 30px 5%;
    }
    
    .cregitalLogoWrap{
        width: 30px;
        height: 30px;
    }
    
    .menuItems{
        font-size: 13px;
    }
    
    .menu{
        cursor: pointer;
    }
    
    .hamburger{
        width: 20px;
        height: 20px !important; /*element.style was overriding the height value after clicking the hamburger and making the height shorter so important to increase the specificity */
        margin-right: 8px;
    }
    
    .strokei{
        width: 20px;
        height: 3px;
        top: 4px;
    }
    
    .strokeii{
        width: 20px;
        height: 3px;
        bottom: 4px;
    }

    .strokei.rotright{
        transform: rotate(45deg) translate(0, 6px);
        transform-origin: unset;
    }

    .strokeii.rotleft{
        transform: rotate(-45deg) translate(0, -6px);
        transform-origin: unset;
    }
    
    
    
    
    
    /* SECTION 1 */
    .section1{
        padding: 4% 8% 3% 8%;
        min-height: auto;
    }
    
    .section1 h1{
        font-size: 70px;
        width: 100%;
        margin: 0 0;
        margin: 15% 0 0 0;
    }
    
    .section1 p{
        padding: 0 10%;
        margin:  0.9rem 3%;
        font-size: 20px;
        width: 100%;
    }
    
    
    
    
    
    
    
    /* LEARN MORE MODAL */

    .learnMore h1{
        width: 80%;
        font-size: 50px;
    }  
    
    
    
    
    
    
    
    /* DROP A LINE MODAL */
    .dropALine{
        min-height: 100vh;
        padding: 5% 5%;
    }
    
    
    .dropALine h1{
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .dropALine p{
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .sendMessageWrap{
        width: 80%;
    }
    
    #smButton{
        font-size: 13px;
    }
    
    
    
    
    
    
    
    /* section 2 */
    .section2{
        justify-content: center;
        align-items: center;
        padding: 0px 1% 20px 1%;
    }
    
    .picLinkWrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }
    
    .picLinks{
        width: 72%;
        position: relative;
    }
    
    .material-icons.md-18{
        font-size: 20px;
    }
    
    .sImg1, .sImg2, .sImg3{
        height: 250px;
    }
    
    
    .lImg1, .lImg2, .lImg3, .lImg4, .lImg5{
        height: 400px;
    }
    

    .lImg2{
        background: url('disha.jpg') no-repeat center ;
        background-size: auto 100%;
    }

    .lImg3{
        background: url('hash.png') no-repeat center ;
        background-size: auto 100%;
    }
    
    .linkInfo{
        padding: 0 0 8% 0;
    }
    
    .linkInfo h1{
        font-size: 25px;
        margin: 0 0 10px 0;
    }
    
    .linkInfo p{
        font-size: 13px;
    }
    
    
    
    
    
    
    /* SECTION 3 */
    .section3{
        min-height: 100vh;
        padding: 20px 8% 80px;
    }
    
    .section3 h1{
        font-size: 50px;
        margin-bottom: 25px;
    }
    
    
    .section3 p{
        width: 90%;
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    
    
    /* FOOTER */
    footer{
        padding: 9% 8%;
    }
    
    footer h1{
        font-size: 50px;
        margin-bottom: 35px;
    }
    
    footer > p{
        width: 80%;
        font-size: 20px;
    }
    
    .endNote{
        font-size: 13px;
        padding-top: 9%;
    }
    
    
    
    
    
    
}

@media screen and (max-width: 767px){
       
    .myCursor{
        display: none;
        visibility: hidden;
    }
    
    
    /* HEADER */
            
    header{
        position: static;
        background-color: white;
        mix-blend-mode: normal;
    }

    nav{
        padding: 30px 5%;
    }
    
    .cregitalLogoWrap{
        width: 30px;
        height: 30px;
    }
    
    .menuItems{
        font-size: 13px;
    }
    
    .menu{
        cursor: pointer;
    }
    
    .hamburger{
        width: 20px;
        height: 13.5px !important;
        margin-right: 8px;
    }
    
    .strokei{
        width: 20px;
        height: 1.5px;
    }
    
    .strokeii{
        width: 20px;
        height: 1.5px;
    }    

    .strokei.rotright{
        transform: rotate(45deg) translate(0, 8px);
        transform-origin: unset;
    }

    .strokeii.rotleft{
        transform: rotate(-45deg) translate(0, -8px);
        transform-origin: unset;
    }
    
    
    
    
    
    /* SECTION 1 */
    .section1{
        padding: 0% 8% 3% 8%;
        min-height: 100vh;
    }
    
    .section1 h1{
        font-size: 45px;
        width: 100%;
        margin: 0 0;
        margin: -15% 0 0 0;
    }
    
    .section1 p{
        padding: 0;
        margin:  0.9rem 3%;
        font-size: 18px;
        width: 100%;
    }
    
    
    
    
    /* LEARN MORE MODAL */

    .learnMore h1{
        width: 70%;
        font-size: 35px;
    }  
    
    
    
        
    .openForm{
        display: none;
        visibility: hidden;
    }
    
    





    /* section 2 */
    .section2{
        padding: 0 8% 10%;
    }

    .picLinkWrap{
        flex-direction: column;
        width: 100%;
    }

    .picLinks{
        width: 100%;
        position: relative;
    }

    .material-icons.md-18{
        font-size: 18px;
    }
        
    .sImg1, .sImg2, .sImg3{
        height: 250px;
    }


    .sImg1{
        background: url('coronation.jpg') no-repeat center;
        background-size:  100%;
    }
    .sImg2{
        background: url('heirs.jpg') no-repeat center;
        background-size:  100%;
    }
    .sImg3{
        background: url('ARK.svg') no-repeat center;
        background-size:  100%;
    }


    .lImg1, .lImg2, .lImg3, .lImg4, .lImg5{
        height: 400px;
    }


    .lImg1{
        background: url('Fbank.jpg') no-repeat center/100% ;
    }
    .lImg2{
        background: url('disha.jpg') no-repeat center/100% ;
    }
    .lImg3{
        background: url('hash.png') no-repeat center/100% ;
    }
    .lImg4{
        background: url('TEF.jpg') no-repeat center;
        background-size:  auto 100%;
    }
    .lImg5{
        background: url('zenith.jpg') no-repeat center;
        background-size: auto 100%;
    }

    .linkInfo{
        padding: 8% 0 15%;
    }

    .linkInfo h1{
        font-size: 25px;
    }

    .linkInfo p{
        font-size: 13px;
    }








    /* SECTION 3 */
    .section3{
        min-height: 100vh;
        padding: 20px 8% 80px;
    }

    .section3 h1{
        font-size: 35px;
        margin-bottom: 25px;
    }


    .section3 p{
        width:100%;
        font-size: 18px;
        line-height: 1.7em;
    }






    /* FOOTER */
    footer{
        padding: 10% 8% 3% 8%;
    }

    footer h1{
        font-size: 35px;
    }

    footer > p{
        width: 100%;
        font-size: 18px;
        align-self: flex-start;
    }

    .endNote{
        flex-direction: column;
        justify-content: unset;
        font-size: 13px;
        padding-top: 9%;
    }

    .rightContent a:not(:first-of-type){
        margin: 40px 0 30px 30px ;
    }


    .rightContent a{
        padding-left: 0;
    }



}